/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 8rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.img {
  height: 64px;
  margin: 1rem;
}


@media screen and (max-width: 966px) {
  .heroBanner {
    margin-top:20px;
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.marginXs {
  margin-top: 0.25rem !important;
}
.avatar__photo--xl:hover {
    transform: scale(1.1) rotate(360deg);
}
